* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background: rgb(49, 47, 43);
    color: goldenrod;
}

.first-section {
    display: flex;
    justify-content: space-between;
}


/*          hambi        */
.hambi {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 55px;

}

.ham {
    width: 40px;
    background: goldenrod;
    height: 2px;
    margin: 4px;

}

/*          hambi        */



/*      h betusok        */
.wunder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;

}

.bolder {
    font-weight: bold;
    font-size: 40px;
}

/*      h betusok        */




/*       languages       */
.languages {
    display: flex;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 80px;
}

.languages p:hover {
    text-decoration: underline;
}

p {
    margin-left: 10px;
    font-size: 20px;
}

/*       languages       */




/*             navbar secton under this line     */
.second-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container1 {

    display: flex;
    justify-content: left;
}

.navi {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.nav {
    max-width: 600px;
    margin-left: 120px;
    margin-top: 35px;
    cursor: pointer;

}

.nav:hover {
    text-decoration: underline;

}

.container2 {
    display: flex;
    justify-content: right;
}

.media {
    display: flex;
    justify-content: right;
    flex-direction: column-reverse;
}

.media .socy {
    margin-bottom: 10px;
    margin-right: 45px;
    cursor: pointer;
}

.media span:hover {
    text-decoration: underline;
}

/*             navbar secton above this line     */





.third-section {
    width: 600px;
    display: flex;



}

img {
    max-width: 95%;
    margin-left: 45px;
    position: absolute;
}

.text-on-the {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-title {
    width: 400px;
    font-size: 50px;
    position: absolute;
    text-shadow: 0 0 25px white;
    left: 250px;
    color: white;
    top: 200px;
    color: rgba(255, 255, 255, 0.014);
    margin-top: -40px;
    margin-left: -80px;

}

.input {
    border: none;
    position: absolute;
    left: 1440px;
    bottom: -50px;
    background: rgb(49, 47, 43);
    color: goldenrod;
    outline: none;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid goldenrod;
}

h2 {
    width: 400px;
    font-size: 40px;
    position: absolute;
    text-shadow: 0 0 25px white;
    left: 250px;
    color: white;
    color: rgba(255, 255, 255, 0.637);
    top: 200px;
    margin-top: -55px;
    margin-left: -50px;
}

.shop {
    position: absolute;
    left: 1440px;
    bottom: 50px;
    background: rgb(49, 47, 43);
    color: goldenrod;
    border: none;
    width: 120px;
    height: 50px;
    top: 900px;
    cursor: pointer;
    border: 1px solid goldenrod;
}